/* @import url('product-sans/product-sans.ttf'); */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

*{
    margin: 0px;
    padding: 0px;
    background-color:rgb(221, 219, 219);
    /* font-family: Product Sans; */
    font-family: 'Wix Madefor Display', sans-serif;
}

h1#name {
    font-size: 280px;
    font-weight: 600;
    margin: 45px 0 0 69px;
    padding: 40px 0 0 66px;
}
p#short_intro {
    font-size: 30px;
    margin: 24px 0 0 50px;
    padding: 39px 0 0 100px;
    color: rgb(95, 90, 90);
}
img#top_img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 1100px;
    bottom: 630px;
    height: 450px;

}
div.description {
    font-size: 30px;
    margin: 100PX;
    padding: 100PX;
    position: relative;
    bottom: 256px;
    /* left: 722px; */
}
/* img#about_img {
    margin: 0px;
    padding: 0px;
    position: relative;
    right: 1100px;
    bottom: 630px;
    height: 450px;
} */